<div
    class="app-topstrip fixed top-0 left-0 z-10 w-full bg-linear-to-r from-[#001138] to-[#001e66] text-white py-4 px-6 flex flex-col gap-4 lg:gap-0 lg:flex-row lg:items-center lg:justify-between">
    <div class="hidden sm:flex items-center justify-center gap-5">
        <a class="flex items-center" href="https://adminmart.com/" target="_blank">
            <img src="/assets/images/logos/logo-adminmart.svg" alt="" width="150">
        </a>

        <div class="linkbar hidden xl:flex items-center justify-center gap-4 border-l border-white/40 pl-5">
            <!-- Templates -->
            <a mat-button
                class="link-hover hover:text-[#5D87FF]! active:text-[#5D87FF]! hover:[&_.mat-mdc-button-persistent-ripple::before]:opacity-0! active:[&_.mat-mdc-button-persistent-ripple::before]:opacity-0! h-auto! px-0! text-white! flex"
                href="https://adminmart.com/templates/angular/" target="_blank">
                <div class="flex items-center gap-2 text-base font-normal">
                    <i class="iconify text-xl flex" data-icon="solar:window-frame-linear"></i>
                    Templates
                </div>
            </a>

            <!-- Support -->
            <a mat-button
                class="link-hover hover:text-[#5D87FF]! active:text-[#5D87FF]! hover:[&_.mat-mdc-button-persistent-ripple::before]:opacity-0! active:[&_.mat-mdc-button-persistent-ripple::before]:opacity-0! h-auto! px-0! text-white! flex"
                href="https://adminmart.com/support/" target="_blank">
                <div class="flex items-center gap-2 text-base font-normal">
                    <i class="iconify text-xl flex" data-icon="solar:question-circle-linear"></i>
                    Help
                </div>
            </a>

            <!-- Hire Us -->
            <a mat-button
                class="link-hover hover:text-[#5D87FF]! active:text-[#5D87FF]! hover:[&_.mat-mdc-button-persistent-ripple::before]:opacity-0! active:[&_.mat-mdc-button-persistent-ripple::before]:opacity-0! h-auto! px-0! text-white! flex"
                href="https://adminmart.com/hire-us/" target="_blank">
                <div class="flex items-center gap-2 text-base font-normal">
                    <i class="iconify text-xl flex" data-icon="solar:case-round-linear"></i>
                    Hire Us
                </div>
            </a>
        </div>
    </div>

    <div class="topstrip-right flex flex-col lg:flex-row lg:items-center lg:justify-center gap-4">
        <h6
            class="text-linear-gradient text-sm lg:text-left text-center tracking-[0.06em] uppercase bg-linear-to-r from-white to-[#3772FF] bg-clip-text text-transparent">
            Checkout Pro Version</h6>

        <div class="topstrip-right-inner flex justify-center items-center flex-col gap-4 md:flex-row md:gap-2.5">

            <div class="flex justify-center items-center gap-2.5">
                <!-- Live Preview -->
                <button
                    class="live-preview-drop rounded hover:bg-[#3772FF]! flex items-center gap-4 text-white! text-base px-4"
                    matButton="outlined" [matMenuTriggerFor]="beforeMenu">
                    <div class="flex items-center gap-1.5">
                        Live Preview
                        <i class="iconify text-xl flex" data-icon="solar:alt-arrow-down-linear"></i>
                    </div>
                </button>
                <mat-menu class="px-4 py-2 rounded-lg" #beforeMenu="matMenu" xPosition="before">
                    <a mat-menu-item class="rounded-lg"
                        href="https://adminmart.com/product/modernize-angular-material-dashboard/?ref=56#product-demo-section"
                        target="_blank">
                        <div class="flex items-center gap-3 text-base">
                            <img src="/assets/images/svgs/angular-cat-icon.svg" width="18" alt="angular">
                            Angular Version
                        </div>
                    </a>
                    <a mat-menu-item class="rounded-lg"
                        href="https://adminmart.com/product/modernize-react-mui-dashboard-theme/?ref=56#product-demo-section"
                        target="_blank">
                        <div class="flex items-center gap-3 text-base">
                            <img src="/assets/images/svgs/react-cat-icon.svg" width="18" alt="react">
                            React Version
                        </div>
                    </a>
                    <a mat-menu-item class="rounded-lg"
                        href="https://adminmart.com/product/modernize-vuetify-vue-admin-dashboard/?ref=56#product-demo-section"
                        target="_blank">
                        <div class="flex items-center gap-3 text-base">
                            <img src="/assets/images/svgs/vue-cat-icon.svg" width="18" alt="vueJs">
                            VueJs Version
                        </div>
                    </a>
                    <a mat-menu-item class="rounded-lg"
                        href="https://adminmart.com/product/modernize-next-js-admin-dashboard/?ref=56#product-demo-section"
                        target="_blank">
                        <div class="flex items-center gap-3 text-base">
                            <img src="/assets/images/svgs/next-cat-icon.svg" width="18" alt="nextJs">
                            NextJs Version
                        </div>
                    </a>
                    <a mat-menu-item class="rounded-lg"
                        href="https://adminmart.com/product/modernize-nuxt-js-admin-dashboard/?ref=56#product-demo-section"
                        target="_blank">
                        <div class="flex items-center gap-3 text-base">
                            <img src="/assets/images/svgs/nuxt-cat-icon.svg" width="18" alt="nuxtJs">
                            NuxtJs Version
                        </div>
                    </a>
                    <a mat-menu-item class="rounded-lg"
                        href="https://adminmart.com/product/modernize-tailwind-nextjs-dashboard-template/?ref=56#product-demo-section"
                        target="_blank">
                        <div class="flex items-center gap-3 text-base">
                            <img src="/assets/images/svgs/tailwindcss.svg" width="20" alt="tailwind">
                            Tailwind Version
                        </div>
                    </a>
                    <a mat-menu-item class="rounded-lg"
                        href="https://adminmart.com/product/modernize-bootstrap-5-admin-template/?ref=56#product-demo-section"
                        target="_blank">
                        <div class="flex items-center gap-3 text-base">
                            <img src="/assets/images/svgs/bt-cat-icon.svg" width="20" alt="bootstrap">
                            Bootstrap Version
                        </div>
                    </a>
                </mat-menu>

                <!-- Get Pro -->
                <a matButton="filled" class="get-pro-btn text-white hover:bg-[#5D87FF]"
                    href="https://adminmart.com/product/modernize-angular-material-dashboard/?ref=56" target="_blank">
                    <div class="flex items-center gap-2 text-base font-normal">
                        <i class="iconify text-lg flex" data-icon="solar:crown-linear"></i>
                        Get Pro
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>