<mat-card class="cardWithShadow theme-card">
  <div class="p-6 flex">
    <mat-card-title class="mb-0">Badges</mat-card-title>
  </div>
  <mat-card-content class="border-t border-border pt-6">
    <mat-card class="border! border-border! shadow-none">
      <mat-card-content>
        <div matBadge="4" matBadgeOverlap="false" class="inline">Text with a badge</div>
      </mat-card-content>
    </mat-card>

    <mat-card class="border! border-border! shadow-none">
      <mat-card-content>
        <div matBadge="1" matBadgeSize="small" class="inline ">Text with small badge</div><br /><br />
        <div matBadge="1" matBadgeSize="large" class="inline">Text with large badge</div>
      </mat-card-content>
    </mat-card>

    <mat-card class="border! border-border! shadow-none">
      <mat-card-content>
        <p class="font-medium text-muted">
          Button with a badge on the left
          <button mat-flat-button color="primary" matBadge="8" matBadgePosition="before" matBadgeColor="accent">
            Action
          </button>
        </p>
      </mat-card-content>
    </mat-card>

    <mat-card class="border! border-border! shadow-none">
      <mat-card-content>
        <p class="font-medium text-muted">
          Icon with a badge
          <mat-icon matBadge="15" matBadgeColor="warn">home</mat-icon>
        </p>
      </mat-card-content>
    </mat-card>

    <mat-card class="border! border-border! shadow-none">
      <mat-card-content>
        <p>
          Button toggles badge visibility
          <button mat-flat-button color="primary" matBadge="7" [matBadgeHidden]="hidden"
            (click)="toggleBadgeVisibility()">
            Hide
          </button>
        </p>
      </mat-card-content>
    </mat-card>
  </mat-card-content>
</mat-card>