<div class="grid grid-cols-12 gap-6">
  <div class="col-span-12 xl:col-span-8">
    <app-revenue-updates></app-revenue-updates>
  </div>
  <div class="col-span-12 xl:col-span-4">
    <app-yearly-breakup></app-yearly-breakup>
    <app-monthly-earnings></app-monthly-earnings>
  </div>
  <div class="col-span-12 xl:col-span-4">
    <app-recent-transactions></app-recent-transactions>
  </div>
  <div class="col-span-12 xl:col-span-8">
    <app-top-projects></app-top-projects>
  </div>
  <div class="col-span-12">
    <app-blog-card></app-blog-card>
  </div>
</div>