<div class="blue_theme light-theme" dir="ltr">
  <app-topstrip></app-topstrip>
  <mat-sidenav-container class="mainWrapper" autosize autoFocus>
    <!-- ============================================================== -->
    <!-- Vertical Sidebar -->
    <!-- ============================================================== -->

    <mat-sidenav #leftsidenav [mode]="isOver ? 'over' : 'side'" [opened]="!isOver"
      (openedChange)="onSidenavOpenedChange($event)" (closedStart)="onSidenavClosedStart()" class="sidebarNav">
      <div class="flex-layout">
        <app-sidebar (toggleMobileNav)="sidenav.toggle()" [showToggle]="isOver"></app-sidebar>
        <ng-scrollbar class="relative" style="height: 100%">
          <mat-nav-list class="sidebar-list">
            @for(item of navItems; track item) {
            <app-nav-item [item]="item" (notify)="sidenav.toggle()" class="top-parent">
            </app-nav-item>
            }
          </mat-nav-list>
        </ng-scrollbar>
        <div class="p-6">
          <div class="bg-light-secondary flex items-center gap-3 rounded p-5 mt-5">
            <div class="shrink-0">
              <h5 class="text-base font-semibold mb-2! max-w-24">
                Check Pro <br> Version
              </h5>
              <a mat-flat-button
                href="https://adminmart.com/product/modernize-angular-material-dashboard/?ref=56#product-demo-section"
                target="_blank" class="d-flex justify-content-center bg-secondary">
                Check
              </a>
            </div>
            <img src="/assets/images/backgrounds/rocket.png" alt="imgae" class="side-img -mt-12" />
          </div>
        </div>
      </div>
    </mat-sidenav>

    <!-- ============================================================== -->
    <!-- Main Content -->
    <!-- ============================================================== -->
    <mat-sidenav-content class="contentWrapper" #content>

      <app-header [showToggle]="!isOver" (toggleCollapsed)="toggleCollapsed()"
        (toggleMobileNav)="sidenav.toggle()"></app-header>

      <main class="pageWrapper maxWidth">

        <!-- ============================================================== -->
        <!-- Outlet -->
        <!-- ============================================================== -->
        <router-outlet></router-outlet>
      </main>

      <footer class="text-center text-muted pt-2.5 pb-6">
        Design & Developed by
        <a class="text-primary underline" href="https://adminmart.com/" target="_blank">AdminMart.com</a>
      </footer>

    </mat-sidenav-content>

  </mat-sidenav-container>
</div>