<mat-card class="cardWithShadow theme-card">
  <div class="p-6">
    <mat-card-title class="mb-0">Tooltips</mat-card-title>
  </div>
  <mat-card-content class="border-t border-border">
    <div class="grid grid-cols-12 gap-6">
      <div class="col-span-12 sm:col-span-6 lg:col-span-4">
        <mat-card class="border! border-border! shadow-none mb-0!">
          <div class="p-4">
            <mat-card-title>Basic</mat-card-title>
          </div>
          <mat-card-content class="border-t border-border">
            <button mat-flat-button color="primary" matTooltip="Info about the action">
              Button
            </button>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="col-span-12 sm:col-span-6 lg:col-span-4">
        <mat-card class="border! border-border! shadow-none mb-0!">
          <div class="p-4">
            <mat-card-title>Uppercase</mat-card-title>
          </div>
          <mat-card-content class="border-t border-border">
            <button mat-flat-button color="primary" matTooltip="Info about the action" matTooltipClass="text-uppercase">
              Button
            </button>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="col-span-12 lg:col-span-4 sm:col-span-6">
        <mat-card class="border! border-border! shadow-none mb-0!">
          <div class="p-4">
            <mat-card-title>Disabled on click</mat-card-title>
          </div>
          <mat-card-content class="border-t border-border">
            <button mat-flat-button color="primary" matTooltip="Info about the action"
              [matTooltipDisabled]="disabled.value" class="me-2">
              Action
            </button>

            <mat-checkbox [formControl]="disabled" class="example-disabled-checkbox">
              Tooltip disabled
            </mat-checkbox>
          </mat-card-content>
        </mat-card>
      </div>

      <div class="col-span-12 lg:col-span-6">
        <mat-card class="border! border-border! shadow-none mb-0!">
          <div class="p-4">
            <mat-card-title>Position</mat-card-title>
          </div>
          <mat-card-content class="border-t border-border flex! md:flex-nowrap flex-wrap gap-2">
            <button mat-flat-button color="primary" #tooltip="matTooltip" matTooltip="Info about the action"
              matTooltipPosition="below" matTooltipHideDelay="100000">
              Below
            </button>
            <button mat-flat-button color="accent" #tooltip="matTooltip" matTooltip="Info about the action"
              matTooltipPosition="above" matTooltipHideDelay="100000">
              Above
            </button>
            <button mat-flat-button color="warn" #tooltip="matTooltip" matTooltip="Info about the action"
              matTooltipPosition="left" matTooltipHideDelay="100000">
              Left
            </button>
            <button mat-flat-button color="primary" #tooltip="matTooltip" matTooltip="Info about the action"
              matTooltipPosition="right" matTooltipHideDelay="100000">
              Right
            </button>
          </mat-card-content>
        </mat-card>
      </div>

      <div class="col-span-12 lg:col-span-6">
        <mat-card class="border! border-border! shadow-none mb-0!">
          <div class="p-4">
            <mat-card-title>Show and Hide</mat-card-title>
          </div>
          <mat-card-content class="border-t border-border">
            <div class="grid grid-cols-12 gap-6">
              <div class="col-span-12 sm:col-span-4">
                <mat-form-field class="w-full" appearance="outline">
                  <mat-label>Show delay</mat-label>
                  <input matInput type="number" [formControl]="showDelay" />
                  <mat-hint>milliseconds</mat-hint>
                </mat-form-field>
              </div>
              <div class="col-span-12 sm:col-span-4">
                <mat-form-field class="w-full" appearance="outline">
                  <mat-label>Hide delay</mat-label>
                  <input matInput type="number" [formControl]="hideDelay2" />
                  <mat-hint>milliseconds</mat-hint>
                </mat-form-field>
              </div>
              <div class="col-span-12 sm:col-span-4">
                <button mat-flat-button color="primary" matTooltip="Info about the action"
                  [matTooltipShowDelay]="showDelay.value" [matTooltipHideDelay]="hideDelay2.value">
                  Action
                </button>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>

      <div class="col-span-12 lg:col-span-4 sm:col-span-6">
        <mat-card class="border! border-border! shadow-none mb-0!">
          <div class="p-4">
            <mat-card-title>Change Message</mat-card-title>
          </div>
          <mat-card-content class="border-t border-border">
            <mat-form-field class="w-full" appearance="outline">
              <mat-label>Tooltip message</mat-label>
              <input matInput [formControl]="message" />
            </mat-form-field>

            <button mat-flat-button color="primary" [matTooltip]="message.value || ''"
              aria-label="Button that displays a tooltip with a custom message">
              Action
            </button>
          </mat-card-content>
        </mat-card>
      </div>

    </div>
  </mat-card-content>
</mat-card>