@use "../variables" as *;

html .topbar {
  position: sticky;
  top: 0;
  z-index: 9;
  height: $header-height;

  i-tabler {
    stroke-width: 1.5px;
  }

  .notification-badge {
    .mat-badge-content {
      left: 80%;
      bottom: 85%;
      width: 16px;
      height: 16px;
    }
  }
}

.topbar-dd {
  min-width: 360px !important;
}

.dark-theme {
  .topbar {
    .mat-mdc-icon-button {
      color: $dark-text-secondary !important;
    }

    .mdc-button {
      --mat-button-text-label-text-color: $dark-text-secondary !important;
    }
  }
}