<mat-card class="cardWithShadow mb-0!">
  <mat-card-content>
    <mat-card-title>Recent Transactions</mat-card-title>
    <mat-card-subtitle>How to secure recent transactions</mat-card-subtitle>

    <div class="timeline relative stats-wrapper mt-6">
      @for(stat of stats; track stat.title) {
      <div class="timeline-item relative h-16 stat-item flex overflow-hidden">
        <div
          class="time pt-[3px] pr-4 rtl:pl-4 rtl:pr-0 pb-1.5 pl-0 min-w-[90px] shrink-0 text-right rtl:text-left text-sm">
          {{
          stat.time
          }}</div>
        <div class="point flex flex-col items-center">
          <span class="timeline-badge w-3 h-3 rounded-full bg-transparent shrink-0 border-{{ stat.color }} my-2"></span>
          <span class="timline-border w-px h-full bg-(--mat-sys-outline-variant) shrink-0 block"></span>
        </div>
        <div class="desc py-[3px] px-4">
          @if(stat.subtext) {
          <span class="text-sm lh-20">{{ stat.subtext }}</span>
          } @if(stat.title) {
          <span class="text-sm lh-20 font-semibold block">{{ stat.title }}</span>
          } @if(stat.link) {
          <a href="javascript:void(0)" class="text-primary no-underline text-sm font-normal">#ML-3467</a>
          }
        </div>
      </div>
      }
    </div>
  </mat-card-content>
</mat-card>