@use "sass:map";
@use "@angular/material" as mat;
@use "../variables" as *;

html {
  @include mat.theme(
    (
      color: mat.$azure-palette,
      typography: $font-family,
    )
  );

  @include mat.theme-overrides(
    (
      primary: rgb(93, 135, 255),
      error: rgb(250, 137, 107),
      body-medium-size: 14px,
      body-large-size: 14px,
      outline-variant: #d7dde2,
      level1: "#919eab4d 0px 0px 2px 0px, #919eab1f 0px 12px 24px -4px",
      level2: rgba(145, 158, 171, 0.12) 0px 1px 16px,
    )
  );
}
